{% extends 'base.html' %}

{% block content %}

<div class="page fade-in">


    <h2 class="page-title">
        Configurações
    </h2>


    <p class="subtitle">
        Configurações gerais da plataforma SPIRIT ENERGY PLATFORM.
    </p>




    <div class="row">


        <div class="col-lg-6 mb-4">


            <div class="card">


                <div class="card-header">

                    Integração CCEE

                </div>



                <div class="card-body">


                    <p>

                        Status do certificado digital:

                    </p>


                    <span class="status status-warning">

                        Aguardando certificado

                    </span>



                    <p class="text-muted mt-3">

                        A conexão com os serviços CCEE será ativada após configuração do certificado digital.

                    </p>


                </div>


            </div>


        </div>






        <div class="col-lg-6 mb-4">


            <div class="card">


                <div class="card-header">

                    Sistema

                </div>



                <div class="card-body">


                    <p>
                        Nome:
                        <strong>
                            SPIRIT ENERGY PLATFORM
                        </strong>
                    </p>


                    <p>
                        Versão:
                        <strong>
                            1.0.0
                        </strong>
                    </p>


                    <p>
                        Ambiente:
                        <strong>
                            Desenvolvimento
                        </strong>
                    </p>


                </div>


            </div>


        </div>



    </div>






    <div class="table-container">


        <h5 class="text-primary mb-4">

            Parâmetros da Plataforma

        </h5>


        <table class="table">


            <thead>

                <tr>

                    <th>
                        Configuração
                    </th>

                    <th>
                        Valor
                    </th>

                </tr>


            </thead>



            <tbody>


                <tr>

                    <td>
                        Integração CCEE
                    </td>

                    <td>
                        Ativa após certificado
                    </td>

                </tr>



                <tr>

                    <td>
                        Banco de Dados
                    </td>

                    <td>
                        Configurado
                    </td>

                </tr>



            </tbody>


        </table>



    </div>



</div>


{% endblock %}