{% extends 'base.html' %}

{% block content %}

<div class="page fade-in">


<h2 class="page-title">
    Liquidação
</h2>


<p class="subtitle">
    Controle financeiro e acompanhamento da liquidação no mercado de energia.
</p>




<div class="row">


<div class="col-lg-4 mb-4">


<div class="card indicator-card">


<div>

<div class="indicator-title">
Valor a Liquidar
</div>


<div class="indicator-value">
--
</div>


</div>


<div class="indicator-icon">

<i class="bi bi-currency-dollar"></i>

</div>


</div>


</div>





<div class="col-lg-4 mb-4">


<div class="card indicator-card">


<div>

<div class="indicator-title">
Pendências
</div>


<div class="indicator-value">
--
</div>


</div>


<div class="indicator-icon">

<i class="bi bi-exclamation-triangle"></i>

</div>


</div>


</div>





<div class="col-lg-4 mb-4">


<div class="card indicator-card">


<div>

<div class="indicator-title">
Última Liquidação
</div>


<div class="indicator-value">
--
</div>


</div>


<div class="indicator-icon">

<i class="bi bi-calendar-check"></i>

</div>


</div>


</div>



</div>






<div class="table-container">


<h5 class="text-primary mb-4">
Histórico de Liquidações
</h5>



<table class="table">


<thead>


<tr>


<th>
Período
</th>


<th>
Agente
</th>


<th>
Valor
</th>


<th>
Status
</th>


</tr>


</thead>



<tbody>


<tr>

<td colspan="4" class="text-center">

Aguardando dados CCEE

</td>


</tr>


</tbody>


</table>



</div>



</div>


{% endblock %}