{% extends 'base.html' %}

{% block content %}

<div class="page fade-in">


<h2 class="page-title">
    PLD
</h2>


<p class="subtitle">
    Acompanhamento do Preço de Liquidação das Diferenças no mercado de energia.
</p>



<div class="row">


<div class="col-lg-6 mb-4">


<div class="card indicator-card">


<div>

<div class="indicator-title">
PLD Atual
</div>


<div class="indicator-value">
--
</div>


</div>


<div class="indicator-icon">

<i class="bi bi-currency-dollar"></i>

</div>


</div>


</div>




<div class="col-lg-6 mb-4">


<div class="card indicator-card">


<div>

<div class="indicator-title">
Última Atualização
</div>


<div class="indicator-value">
--
</div>


</div>


<div class="indicator-icon">

<i class="bi bi-clock"></i>

</div>


</div>


</div>


</div>





<div class="table-container">


<h5 class="text-primary mb-4">
Histórico PLD
</h5>



<table class="table">


<thead>

<tr>

<th>
Data
</th>

<th>
Submercado
</th>

<th>
Valor R$/MWh
</th>


</tr>


</thead>


<tbody>


<tr>

<td colspan="3" class="text-center">

Aguardando dados CCEE

</td>


</tr>


</tbody>


</table>


</div>




</div>


{% endblock %}