{% extends 'base.html' %}

{% block content %}

<div class="page fade-in">


    <h2 class="page-title">
        Relatórios
    </h2>


    <p class="subtitle">
        Geração de relatórios operacionais e análises do Mercado Livre de Energia.
    </p>




    <div class="row">


        <div class="col-lg-4 mb-4">


            <div class="card indicator-card">


                <div>

                    <div class="indicator-title">
                        Relatórios Disponíveis
                    </div>


                    <div class="indicator-value">
                        --
                    </div>


                </div>


                <div class="indicator-icon">

                    <i class="bi bi-file-earmark-text"></i>

                </div>


            </div>


        </div>





        <div class="col-lg-4 mb-4">


            <div class="card indicator-card">


                <div>

                    <div class="indicator-title">
                        Última Geração
                    </div>


                    <div class="indicator-value">
                        --
                    </div>


                </div>


                <div class="indicator-icon">

                    <i class="bi bi-clock-history"></i>

                </div>


            </div>


        </div>





        <div class="col-lg-4 mb-4">


            <div class="card indicator-card">


                <div>

                    <div class="indicator-title">
                        Exportações
                    </div>


                    <div class="indicator-value">
                        --
                    </div>


                </div>


                <div class="indicator-icon">

                    <i class="bi bi-download"></i>

                </div>


            </div>


        </div>



    </div>





    <div class="table-container">


        <h5 class="text-primary mb-4">
            Relatórios Gerados
        </h5>



        <table class="table">


            <thead>

                <tr>

                    <th>
                        Nome
                    </th>


                    <th>
                        Tipo
                    </th>


                    <th>
                        Data
                    </th>


                    <th>
                        Ação
                    </th>


                </tr>


            </thead>



            <tbody>


                <tr>

                    <td colspan="4" class="text-center">

                        Nenhum relatório disponível

                    </td>


                </tr>


            </tbody>


        </table>



    </div>



</div>


{% endblock %}